section.form {
    article {
        background-color: #de3c4b;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 3rem;
        gap: 1rem;
        border-radius: 20px;

        h1 {
            font-size: 4rem;
            font-weight: 900;
            align-self: center;
            margin-bottom: 2rem;
        }

        input {
            width: 500px;
            height: 40px;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
            color: #fbf5f3;
            border: 3px solid transparent;
            background-color: #e28413;

            &::placeholder {
                font-size: inherit;
                text-align: inherit;
                font-weight: initial;
                color: inherit;
            }

            &:focus-visible {
                outline: none;
                border-color: #fbf5f3;
            }
        }

        .button-group {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            button {
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 5px;
                font-size: 1.5rem;
                font-weight: 900;
                background-color: #e28413;
                color: #fbf5f3;
            }

            button.primary {
                background-color: #fbf5f3;
                color: #e28413;
            }
        }
    }
}
