@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

// coolers : https://coolors.co/fbf5f3-e28413-000022-de3c4b

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rajdhani", sans-serif;
    background-color: #000022;
    color: #fbf5f3;
    z-index: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
}
