section.manage-task {
    .tag-input {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        input {
            width: 100%;
        }

        button {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 900;
            letter-spacing: 1px;
            background-color: red;
            color: #fbf5f3;
        }
    }

    button.add-tag {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: #e28413;
        color: #fbf5f3;
    }
}
