aside.notification {
    background-color: #de3c4b;
    display: inline;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 3rem;
    position: fixed;
    right: 0;
    top: 5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
